body{
    width: 50%;
    margin: auto;
    background-color: red;
}
.btn{
    margin: 10px;
    width: 4rem;
    height: 4rem;
    background-color: rgb(135, 197, 187);
}
.btn2{
    margin: 10px;
    width: 4rem;
    height: 4rem;
    background-color: rgb(103, 143, 136);
}
.calculator{
    background-color: #fff;
    margin: 30% auto;
    padding: 10% 0;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.myDiv1{
    width: 75%;
    height: 400px;
    text-align: center;
    
}
.myDiv2{
    width: 25%;
    height: 400px;
}